/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  display: flex; /* Cria um container flex para centralizar o conteúdo */
  justify-content: center; /* Alinha o conteúdo horizontalmente no centro */
  align-items: center; /* Alinha o conteúdo verticalmente no centro */
  min-height: 100vh; /* Garante que o conteúdo ocupe toda a altura da viewport */
  background-color: #f0f0f0; /* Cor de fundo suave */
}

/* Estilos do formulário */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px; /* Largura máxima do formulário */
}

/* Estilos do título */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos do label */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos do input */
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estilos do botão */
input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos da mensagem de erro */
#email {
  color: red;
  text-align: center;
  margin-top: 10px;
}
body {
  font-family: Arial, sans-serif; 
  text-align: center; /*O conteúdo é centralizado horizontalmente usando text-align: center; no seletor body*/
  margin: 50px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

form {
  display: flex; /*O formulário é configurado como uma coluna centralizada usando display: flex;, flex-direction: column; e align-items: center;*/
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.cpf-botao {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#message { /*Código para fazer com que a mensagem de erro terá a cor vermelha e um espaçamento superior.*/
  color: red;
  margin-top: 10px;
}
